
//Variables
$columns: 18;
$gutterSize: 4px;
$columns2: 4;
$max-breakpoint: 1025;
$large-breakpoint: 1550;
$wide-screen: "(min-width: #{$max-breakpoint}px)"; 
$large-screen: "(min-width: #{$large-breakpoint}px)";


//Functions
@function get-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: ($max-breakpoint * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 0.5vw;
}

// Mixin
@mixin vw($size) {
  font-size: get-vw($size);
  // Prevent font-size from getting too big
  @media #{$wide-screen} {
    font-size: $size;
  }
  @media #{$large-screen} {
    font-size: $size*1.2;
  }
}


//Css general
.org-gif{
    background-image:url('http://gifgifs.com/animations/animals/primates-and-monkeys/cartoon_gorilla.gif');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: calc(100% - #{$gutterSize}) !important;
    height: calc(100% - #{$gutterSize}) !important;
}

* {
  box-sizing: border-box
 }

html, body{
  height: 100%;
  padding: 15px 5px;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.modal-body p   { margin-bottom: 900px }

html, body, .stats-container {
  background-color: #000;
  color: #fff;
 }

div.sliding-text{
  width:100%;
  overflow:hidden;
  background-color: #fff;
  margin: 2px;
  height: auto;
  border: 2px solid gray;
  padding: .5em 0;
  line-height: 1em;
  font-size: 3.5em;
  font-weight: 900;
  font-family: "Agency FB";
  color: #000;
  text-transform: uppercase
}
div.slide-right p {
  -moz-animation: 15s slide-right;
  -webkit-animation: 15s slide-right;
  -o-animation: 15s slide-right;
  animation: 15s slide-right;
  margin:0;
}
div.slide-left p {
  -moz-animation: 15s slide-left;
  -webkit-animation: 15s slide-left;
  -o-animation: 15s slide-left;
  animation: 15s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} } 

.stats-container{
  height: 38%;
  min-height: 38%;
  padding: 0px calc(100% / #{$columns}) 0px calc(100% / #{$columns}) !important;
 }

.stats-container:after{ 
  content: "";
  display: block;
  height: 400px;
 }

.tablero{
  height: 100px;
  position: relative;
  line-height: 180%;
  padding: 0px calc(100% / #{$columns}) 0px calc(100% / #{$columns}) !important;
 } 

.square-container{
  padding: #{$gutterSize / 2};

  &:after{
    content: '';
    clear: both;
     display: block;
  } 
 }
.square{
  width: calc(100% / #{$columns});
  float: left;
  position: relative;
  padding-bottom: calc(90% / #{$columns});
  text-align: center;
 }
a{
  color: #fff;
 
  .nro, .letra, .boton, .nroSelec, .step{
    font-weight: 900;
    font-size: 4.5em; // Fallback
    @include vw(36px);

  }
  .nro, .letra, .boton, .nroSelec{
    width: calc(100% - #{$gutterSize});
    height: calc(100% - #{$gutterSize});
    margin: #{$gutterSize / 2};
    padding: 8px;
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(202,202,202, 0.56);
   }
  .nro{
    background-color: #000;
   }
  .nroSelec{
    background-color: #d6d906 !important;
    color: #000 !important;
   }
  .letra{
    background-color: #ee0875;
   }
  .boton{
    background-color: #cacaca;
    color: #000;
    font-size: 40px;
   }
 } 
.stats-container{
  padding: #{$gutterSize / 2};

  &:after{
    content: '';
    clear: both;
    display: block;
   }
 } 
.stats{
  width: calc(100% / #{$columns2});
  height: calc(90%);
  float: left;
  position: relative;
  padding-bottom: calc(60% / #{$columns2});

  .logo, .bingo, .binguito, .stat{
    width: calc(100% - #{$gutterSize});
    height: calc(100% - #{$gutterSize});
    margin: #{$gutterSize / 2};
    padding: 8px;
    position: absolute;
   }

  .stat{
    font-weight: 900;
    font-size: 36px;
    padding: 15px;
   }

  .logo{
    background: url('/logobingo.png') no - repeat center center;
    background-size: contain;
   }
  .bingo{
    background-color: #79cc72;
    background: url('/bingo.jpg') no - repeat center center;
    background-size: 65%;
   }
  .binguito{
    background-color: #a168b8;
    background: url('/binguito.jpg') no-repeat center center;
    background-size: 65%;
   }

  .stat{
    background-color: #000;
    color: #fff;
    .ant{
      height: calc(40%);
      font-weight: 700;
      font-size: 4.5em; // Fallback
      @include vw(28px);
      span{
        font-weight: 900;
        font-size: 4.5em; // Fallback
        @include vw(36px);
        float: right;
      }
     }

    .ult{
      height: calc(60%);
      color: #ee0875;
      font-weight: 700;
      font-size: 4.5em; // Fallback
      @include vw(36px);
      span{
        font-weight: 900;
        font-size: 4.5em; // Fallback
        @include vw(40px);
        float: right;
      }
     }

     }
 }
