$columns: 18;
$gutterSize: 4px;
$columns2: 4;

* {
  box-sizing: border-box
 }

html, body{
  height: 100%;
  padding: 15px 5px;
}

html, body, .stats-container {
  background-color: #000;
  color: #fff;
 }
div.sliding-text{
  width:100%;
  overflow:hidden;
  background-color: #fff;
  margin: 2px;
  height: auto;
  border: 2px solid gray;
  padding: .5em 0;
  line-height: 1em;
  font-size: 3.5em;
  font-weight: 900;
  font-family: "Agency FB";
  color: #000;
  text-transform: uppercase
}
div.slide-right p {
  -moz-animation: 15s slide-right;
  -webkit-animation: 15s slide-right;
  -o-animation: 15s slide-right;
  animation: 15s slide-right;
  margin:0;
}
div.slide-left p {
  -moz-animation: 15s slide-left;
  -webkit-animation: 15s slide-left;
  -o-animation: 15s slide-left;
  animation: 15s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: -100%;width: 300%;} } 

.stats-container{
  height: 35%;
  min-height: 35%;
  padding: 0px calc(100% / #{$columns}) 0px calc(100% / #{$columns}) !important;
 }

.stats-container:after{ 
  content: "";
  display: block;
  height: 400px;
 }

.tablero{
  height: 100px;
  position: relative;
  line-height: 180%;
  padding: 0px calc(100% / #{$columns}) 0px calc(100% / #{$columns}) !important;
 } 

.square-container{
  padding: #{$gutterSize / 2};

  &:after{
    content: '';
    clear: both;
     display: block;
  } 
 }
.square{
  width: calc(100% / #{$columns});
  float: left;
  position: relative;
  padding-bottom: calc(90% / #{$columns});
 }
a{
  color: #fff;
 
  .nro, .letra, .boton, .nroSelec{
    width: calc(100% - #{$gutterSize});
    height: calc(100% - #{$gutterSize});
    margin: #{$gutterSize / 2};
    padding: 8px;
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(202,202,202, 0.56);
    font-weight: 900;
    font-size: 4em;
   }
  .nro{
    background-color: #000;
   }
  .nroSelec{
    background-color: #d6d906 !important;
    color: #000 !important;
   }
  .letra{
    background-color: #ee0875;
   }
  .boton{
    background-color: #cacaca;
    color: #000;
    font-size: 40px;
   }
 } 
.stats-container{
  padding: #{$gutterSize / 2};

  &:after{
    content: '';
    clear: both;
    display: block;
   }
 } 
.stats{
  width: calc(100% / #{$columns2});
  float: left;
  position: relative;
  padding-bottom: calc(60% / #{$columns2});

  .logo, .bingo, .binguito, .stat{
    width: calc(100% - #{$gutterSize});
    height: calc(100% - #{$gutterSize});
    margin: #{$gutterSize / 2};
    padding: 8px;
    position: absolute;
   }

  .stat{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(202,202,202, 0.56);
    font-weight: 900;
    font-size: 36px;
   }

  .logo{
    background: url(https://i.imgur.com/X3Rb9HR.png) no - repeat center center;
    background-size: contain;
   }
  .bingo{
    background-color: #79cc72;
    background: url(https://i.imgur.com/KXRcUws.png) no - repeat center center;
    background-size: 40%;
   }
  .binguito{
    background-color: #a168b8;
    background: url(https://i.imgur.com/MRFSspS.png) no-repeat center center;
    background-size: 40%;
   }

  .stat{
    background-color: #fff;
    color: #000;
    .ant{
      height: calc(40%);
     }
      h1{
        font-size: 2rem;
        font-weight: 700;
        float: right;
       }
    .ult{
      height: calc(60%);
      color: #ee0875;
     }
      h1{
        font-size: 4rem;
        font-weight: 900;
        float: right;
      }
     }
 }